.icon
  display: inline-block
  background-repeat: no-repeat
  background-position: center center

.icon-logo
  width: 36px
  height: 35px
  background-image: url("~images/icon/logo.png")

.icon-ball
  width: 828px
  height: 491px
  background-image: url("~images/icon/ball.png")
  
.icon-user
  width: 16px
  height: 16px
  background-image: url("~images/icon/user.png")
  
.icon-pwd
  width: 15px
  height: 18px
  background-image: url("~images/icon/pwd.png")
