@import "./mixins.styl"
@import "./reset.styl"

#app
  common-font()

.app-header
  height: 64px
  line-height: 64px

.header
  .brand
    float: left
    width: 240px
    background-color: #78a7ff
    font-size: 22px
    text-align: center
    color: #fff
  
  .page-list
    float: left
    
    .page-list-item
      float: left
  
  .user-operation-list
    float: right
