@import "./reset.styl"
@import "./mixins.styl"
@import "./icon.styl"
@import "./input.styl"

av-color = #4271C3

#app
  height: 100%
  overflow: auto
  background-color: av-color
  background: radial-gradient(circle at -74px 148px, #4473C4, #2C54B5);
  
  .app-header
    height: 82px
    line-height: 82px
    padding-left: 88px
    color: #fff
    overflow: hidden

.app-header 
  .icon-logo
    display: inline-block
    vertical-align: middle
        
  .title
    display: inline-block
    vertical-align: middle
    margin-left: 9px
    line-height: 1
    
    .cn
      margin: 0
      font-size: 20px
      letter-spacing: 2px
      margin-bottom: 2px
        
.app-content
  position relative
  height: calc(100% - 82px - 64px)
  overflow: hidden
  
  .icon-ball
    float: left
    width: 60%
    height: 100%
    background-size: contain
    
  .login-form
    float: right
    position: absolute
    right: 15%
    top: 50%
    margin-top: -200px
    background: url("~images/icon/login-pic.png") no-repeat
    width: 400px
    height: 400px
    padding: 41px 37px
    text-align: center
    
    .title
      color: #fff
      text-align: center
      margin: 30px 0 40px 0
      font-size: 18px

.login-form
  .name-wrap
    position: relative
    
    .icon-user
      position: absolute
      left: 43px
      top: 8px
      
  .pwd-wrap
    position: relative
    
    .icon-pwd
      position: absolute
      left: 43px
      top: 8px
      
  .submit-btn
    width: 267px
    height: 30px
    border: none
    border-radius: 6px
    line-height: 30px
    padding: 0 auto
    color: #CBDCF4
    margin-top: 20px
    background-color: #2A5AB1
          
.app-footer
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  height: 64px
  line-height: 64px
  text-align: center
  font-size: 12px
  color: #3762B2
  background-color: #224891
  z-index: 10
