/*!
 * variables
 * bqliu | 09/19/2017
 */
 
@import "./vars.styl"

/**
 * combination
 * use mixins
 */

title-font()
  font-size: title-font-size
  color: main-color
  
nav-font()
  font-size: subtitle-font-size
  color: nav-color

common-font()
  font-size: common-font-size
  color: main-color
  
star-mark-font()
  font-size: common-font-size
  color: star-mark-color
  
anchor-font()
  font-size: common-font-size
  color: anchor-color
  
tip-font()
  font-size: tip-font-size
  color: tip-color
  
disable-font()
  font-size: common-font-size
  color: disable-color
