/*!
 * variables
 * bqliu | 09/19/2017
 */

/* font size part */

font-size-12 = 12px
font-size-14 = 14px
font-size-16 = 16px

title-font-size     = font-size-16
subtitle-font-size  = font-size-14
common-font-size    = font-size-12
tip-font-size       = font-size-16

/* color part */

main-color      = #666
nav-color       = #fff
star-mark-color = #ff3232
anchor-color    = #78a7ff
tip-color       = #333
disable-color   = #a9a9a9
